APP_PORT=5000
# Use only the API host root. Example:
# VITE_SUPABASE_URL=https://projetos-diversos-supabase-pnsc.xcmy55.easypanel.host
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_BUCKET=pnsc-media
VITE_GOOGLE_MAPS_API_KEY=
